<div  id= "{{ _id }}" class="block hidden list">
  <div class="imageholder"><i class="fa fa-user"></i></div>
  <h3>{{ first }}{{ last }}</h3>
  <p>{{ email }}</p>
  <p>{{ phone }}</p>
  <p>{{ twitter }}</p>
  <p>{{ linkedIn }}</p>
  <span id="remove" class="fa fa-trash-o">Delete</span>
</div>
