<div  id= "{{ _id }}" class="block">
  <h3 class="fa fa-user">{{ first }}{{ last }}</h3><span id="remove" class="fa fa-trash-o"></span>
  <p>{{ email }}</p>
  <p>{{ phone }}</p>
  <p>{{ twitter }}</p>
  <p>{{ linkedin }}</p>
</div>
